doctype html 
html
  head
    title Abhishek Dance Acdemy 
    block scripts 
    block style 
  body
    nav#navbar
        ul 
            div#logo
                img(src="https://swall.teahub.io/photos/small/113-1136031_dancing-girl-in-dark-high-resolution-image-wallpaper.jpg", alt="no") 
                | ADA
            li #[a(href="/") Home ]
            li #[a(href="/") About] 
            li #[a(href="/") Services] 
            li #[a(href="/") Class Info] 
            li #[a(href="/contact") Contact] 
    block content
    footer#fotter  
        | Copyright Ⓒ2022 AbhiShekDanceAchemy.com | All Right Reserve
